{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed"
}
